<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>889799584979-pnhh1qm7o3oms289hl2p1s5keik7suho.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.889799584979-pnhh1qm7o3oms289hl2p1s5keik7suho</string>
	<key>API_KEY</key>
	<string>AIzaSyBnhovtl0nwK9SWKDX6ZP75egO23OJfNe0</string>
	<key>GCM_SENDER_ID</key>
	<string>889799584979</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dicoding.ditonton</string>
	<key>PROJECT_ID</key>
	<string>ditonton-83497</string>
	<key>STORAGE_BUCKET</key>
	<string>ditonton-83497.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:889799584979:ios:2ea3010e9969194ec9b826</string>
</dict>
</plist>